extends layout



block content
  d.dashhead
    d.dashhead-titles
      h6.dashhead-subtitle Dashboard
      h3.dashhead-title Stream Statistics
  d.container-fluid
    d.row
      d.col-md-2.sidebar
        ul.nav.nav-bordered.nav-stacked
          li.nav-header Navigation
          li
            a(href="https://www.google.com") Home
          li
            a Chat
      d.col-md-9.col-sm-offset-2.main
        d#stats1.col-md-4.statsBoxLeft
          p this is box one
          //button.btn.btn-success(id='getFollowers' ng-click="stats.getThings()") Get the things
          div.col-md-12#chartContainer
        d#stats2.col-md-4
          form.simple-form
            span.label Team Name:
            input(type="text" ng-model="teamName")
            //button.btn.btn-primary(type="submit" ng-click="stats.getTeam(teamName)") Get Team
          p {{$scope.userList}}
        d#stats3.col-md-4.statsBoxRight
          form.simple-form
            span.label Record ID:
            input(type="text" ng-model="recordId")
            //button.btn.btn-danger(type="submit" ng-click="stats.removeThings(recordId)") Remove the things
        d.col-md-12 #{teamInfo}
