body {
  padding-top: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dashhead-titles{
  padding-left: 10px;
}

.main {
  background-color: #7f7f7f;
  color: #0a0b0d;
  margin-left: 0;
  border-radius: 15px;
}

.statsBoxLeft {
  border-right-color: #9acfea;
  border-right-style: solid;
}

.statsBoxRight {
  border-left-color: white;
  border-left-style: dashed;
}
